In [1]:
# Identify duplicate rows in the dataset
import pandas as pd
df=pd.read_csv("customer_data.csv")
duplicate_rows = df[df.duplicated()]

# Display the duplicate rows
duplicate_rows

      CustomerID          Name  Age  Income  PurchaseAmount
1000         420  Customer_420   65   44099             183
1001         626  Customer_626   52   34198             231
1002         252  Customer_252   23   24461             184
1003         619  Customer_619   49   64970             218
1004         549  Customer_549   41   46139             240
1005         335  Customer_335   50   54005              92
1006          92   Customer_92   35   46713             132
1007         530  Customer_530   53   52963             161
1008         866  Customer_866   61   64014             156
1009          63   Customer_63   52   12925             169
1010         662  Customer_662   62   51883             212
1011         512  Customer_512   39   39770             235
1012         139  Customer_139   18   38142             205
1013         698  Customer_698   18   33446             200
1014         185  Customer_185   61   46175             150
1015         205  Customer_205   54   46395             176
1016         772  Customer_772   45   55610             199
1017         214  Customer_214   41   45356             296
1018         256  Customer_256   33   64740             146
1019         135  Customer_135   57   51640             214
1021         875  Customer_875   54   41806             181
1022         822  Customer_822   58   38663             212
1023          88   Customer_88   57   44727             173
1024         836  Customer_836   54   45421             169
1025         988  Customer_988   43   56669             189
1026         207  Customer_207   68   60664             214
1028         823  Customer_823   52   58047             299
1029           3    Customer_3   46   38654             211
1030         974  Customer_974   66   23588             274
1031         934  Customer_934   20   63917             213
1032         754  Customer_754   31   74586             236
1033         121  Customer_121   58   63044             167
1034         385  Customer_385   46   54287             251
1035         614  Customer_614   66   48789             196
1036          38   Customer_38   68   61270             292
1037         341  Customer_341   37   84483             188
1038         925  Customer_925   28   28672             135
1039         645  Customer_645   45   54539             140
1040         714  Customer_714   43   56607             166
1041         860  Customer_860   43   50045             221
1042          21   Customer_21   61   29021             159
1043         242  Customer_242   23   61148             230
1044         455  Customer_455   59   34681             212
1045         963  Customer_963   64   55995             174
1046         621  Customer_621   29   81325             156
1047         303  Customer_303   58   58396             204
1048         596  Customer_596   67   43578             260
1049         595  Customer_595   21   26651             230

In [3]:
# Count the number of duplicate rows in the dataset
import pandas as pd
df=pd.read_csv("customer_data.csv")
duplicate_count = df.duplicated().sum()

# Display the count of duplicate rows
duplicate_count

48

In [5]:
# Identify duplicate rows based on specific columns (e.g., 'Name' and 'Age')
import pandas as pd
df=pd.read_csv("customer_data.csv")
duplicate_rows_specific = df[df.duplicated(subset=['Name', 'Age'])]

# Display the duplicate rows based on the specified columns
duplicate_rows_specific

      CustomerID          Name  Age  Income  PurchaseAmount
1000         420  Customer_420   65   44099             183
1001         626  Customer_626   52   34198             231
1002         252  Customer_252   23   24461             184
1003         619  Customer_619   49   64970             218
1004         549  Customer_549   41   46139             240
1005         335  Customer_335   50   54005              92
1006          92   Customer_92   35   46713             132
1007         530  Customer_530   53   52963             161
1008         866  Customer_866   61   64014             156
1009          63   Customer_63   52   12925             169
1010         662  Customer_662   62   51883             212
1011         512  Customer_512   39   39770             235
1012         139  Customer_139   18   38142             205
1013         698  Customer_698   18   33446             200
1014         185  Customer_185   61   46175             150
1015         205  Customer_205   54   46395             176
1016         772  Customer_772   45   55610             199
1017         214  Customer_214   41   45356             296
1018         256  Customer_256   33   64740             146
1019         135  Customer_135   57   51640             214
1020         573  Customer_573   61   41745             660
1021         875  Customer_875   54   41806             181
1022         822  Customer_822   58   38663             212
1023          88   Customer_88   57   44727             173
1024         836  Customer_836   54   45421             169
1025         988  Customer_988   43   56669             189
1026         207  Customer_207   68   60664             214
1027         129  Customer_129   65   59815             925
1028         823  Customer_823   52   58047             299
1029           3    Customer_3   46   38654             211
1030         974  Customer_974   66   23588             274
1031         934  Customer_934   20   63917             213
1032         754  Customer_754   31   74586             236
1033         121  Customer_121   58   63044             167
1034         385  Customer_385   46   54287             251
1035         614  Customer_614   66   48789             196
1036          38   Customer_38   68   61270             292
1037         341  Customer_341   37   84483             188
1038         925  Customer_925   28   28672             135
1039         645  Customer_645   45   54539             140
1040         714  Customer_714   43   56607             166
1041         860  Customer_860   43   50045             221
1042          21   Customer_21   61   29021             159
1043         242  Customer_242   23   61148             230
1044         455  Customer_455   59   34681             212
1045         963  Customer_963   64   55995             174
1046         621  Customer_621   29   81325             156
1047         303  Customer_303   58   58396             204
1048         596  Customer_596   67   43578             260
1049         595  Customer_595   21   26651             230

In [7]:
# Count duplicate rows based on specific columns (e.g., 'Name' and 'Age')
import pandas as pd
df=pd.read_csv("customer_data.csv")
duplicate_count_specific = df.duplicated(subset=['Name', 'Age']).sum()

# Display the count of duplicates based on the specified columns
print("Number of duplicate rows based on 'Name' and 'Age':", duplicate_count_specific)

Number of duplicate rows based on 'Name' and 'Age': 50

In [9]:
# Identify and display all duplicate rows
import pandas as pd
df=pd.read_csv("customer_data.csv")
duplicate_rows = df[df.duplicated()]

# Display the duplicate rows
duplicate_rows

      CustomerID          Name  Age  Income  PurchaseAmount
1000         420  Customer_420   65   44099             183
1001         626  Customer_626   52   34198             231
1002         252  Customer_252   23   24461             184
1003         619  Customer_619   49   64970             218
1004         549  Customer_549   41   46139             240
1005         335  Customer_335   50   54005              92
1006          92   Customer_92   35   46713             132
1007         530  Customer_530   53   52963             161
1008         866  Customer_866   61   64014             156
1009          63   Customer_63   52   12925             169
1010         662  Customer_662   62   51883             212
1011         512  Customer_512   39   39770             235
1012         139  Customer_139   18   38142             205
1013         698  Customer_698   18   33446             200
1014         185  Customer_185   61   46175             150
1015         205  Customer_205   54   46395             176
1016         772  Customer_772   45   55610             199
1017         214  Customer_214   41   45356             296
1018         256  Customer_256   33   64740             146
1019         135  Customer_135   57   51640             214
1021         875  Customer_875   54   41806             181
1022         822  Customer_822   58   38663             212
1023          88   Customer_88   57   44727             173
1024         836  Customer_836   54   45421             169
1025         988  Customer_988   43   56669             189
1026         207  Customer_207   68   60664             214
1028         823  Customer_823   52   58047             299
1029           3    Customer_3   46   38654             211
1030         974  Customer_974   66   23588             274
1031         934  Customer_934   20   63917             213
1032         754  Customer_754   31   74586             236
1033         121  Customer_121   58   63044             167
1034         385  Customer_385   46   54287             251
1035         614  Customer_614   66   48789             196
1036          38   Customer_38   68   61270             292
1037         341  Customer_341   37   84483             188
1038         925  Customer_925   28   28672             135
1039         645  Customer_645   45   54539             140
1040         714  Customer_714   43   56607             166
1041         860  Customer_860   43   50045             221
1042          21   Customer_21   61   29021             159
1043         242  Customer_242   23   61148             230
1044         455  Customer_455   59   34681             212
1045         963  Customer_963   64   55995             174
1046         621  Customer_621   29   81325             156
1047         303  Customer_303   58   58396             204
1048         596  Customer_596   67   43578             260
1049         595  Customer_595   21   26651             230

In [11]:
# Drop duplicate rows and keep only the first occurrence
import pandas as pd
df=pd.read_csv("customer_data.csv")
df_cleaned = df.drop_duplicates()

# Display the cleaned dataset
df_cleaned

      CustomerID           Name  Age  Income  PurchaseAmount
0              1     Customer_1   56   25903             286
1              2     Customer_2   69   53051             180
2              3     Customer_3   46   38654             211
3              4     Customer_4   32   28666             246
4              5     Customer_5   60   40301             129
...          ...            ...  ...     ...             ...
997          998   Customer_998   62   43438             234
998          999   Customer_999   35   60835             169
999         1000  Customer_1000   55   44407             285
1020         573   Customer_573   61   41745             660
1027         129   Customer_129   65   59815             925

[1002 rows x 5 columns]

In [13]:
# Drop duplicate rows based on specific columns (e.g., 'Name' and 'Age') and keep only the first occurrence
import pandas as pd
df=pd.read_csv("customer_data.csv")
df_cleaned_specific = df.drop_duplicates(subset=['Name', 'Age'])

# Display the cleaned dataset
df_cleaned_specific

     CustomerID           Name  Age  Income  PurchaseAmount
0             1     Customer_1   56   25903             286
1             2     Customer_2   69   53051             180
2             3     Customer_3   46   38654             211
3             4     Customer_4   32   28666             246
4             5     Customer_5   60   40301             129
..          ...            ...  ...     ...             ...
995         996   Customer_996   60   56292             272
996         997   Customer_997   64   36687             133
997         998   Customer_998   62   43438             234
998         999   Customer_999   35   60835             169
999        1000  Customer_1000   55   44407             285

[1000 rows x 5 columns]